<!DOCTYPE html>
<html>
<head>
	<title>NodeJS Demo</title>
	<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">

	<style type="text/css">
		body {
			font-family: Comfortaa;
		}
	</style>
</head>
<body>
	<h1>Developer Student Clubs</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius</p>
	<img src="https://images.pexels.com/photos/970204/pexels-photo-970204.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
	<form action="/form-submission" method="POST">
		<input type="text" name="firstname">
		<button>Submit</button>
	</form>
</body>
</html>





